/* shared portion */
* {
    font-family: 'Lato', sans-serif;
    margin: 0px;

}

.btn-primary {
    padding: 20px 45px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;

    font-size: 20px;

    font-weight: 700;

}

/* header portion start */
header {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    padding: 200px 0px 150px 240px;
    background-image: url("Flower Asset/bg1.png");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.header-div>h1 {
    color: #272727;


    font-size: 80px;

    font-weight: 800;
    margin-bottom: 32px;

}

.header-div>p {
    color: rgba(39, 39, 39, 0.60);

    font-size: 18px;

    font-weight: 400;
    margin-bottom: 32px;

}

/* header portionENd */
/* main portion start */
/* featured section start */
.featured-section>h2 {
    color: #272727;
    text-align: center;

    font-size: 40px;

    font-weight: 800;

    margin: 180px 0px 24px 0px;


}

.featured-section>p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;

    font-size: 18px;

    font-weight: 400;
    margin-bottom: 50px;

}

.flower-container-div {
    display: flex;
    gap: 24px;
    justify-content: center;

}

.flower-container-child-div1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    background-image: url("Flower Asset/bg2.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-bottom: 32px;
}

.flower-container-child-div2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    background-image: url("Flower Asset/bg3.png");
    background-repeat: no-repeat;
    height: 538px;

    background-position: center;
    margin-bottom: 32px;

}

.flower-container-child-div3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    background-image: url("Flower Asset/bg4.png");
    background-repeat: no-repeat;
    height: 538px;

    background-position: bottom center;
    margin-bottom: 32px;


}

.name-div {
    display: flex;
    justify-content: center;
    gap: 300px;
    margin-bottom: 128px;
}

.name-div>p {
    color: #272727;
    text-align: center;

    font-size: 30px;

    font-weight: 700;

    text-decoration-line: underline;
}

/* featured section end */


/* contact section start */

.contact-section {
    display: flex;
    justify-content: center;
    gap: 100px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    max-width: 1440px;
    margin: 0 auto;
    padding: 85px 180px;
}

.contact-section h5 {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;

    font-size: 24px;

    font-weight: 600;


}

.contact-section div {
    text-align: center;
}

/* contact section end */

/* hot deal section start */
.hot-deal-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 230px 0px 160px 390px;
    background-image: url("Flower Asset/rose2.png");
    background-repeat: no-repeat;


    background-position: right center;
    text-align: center;
    display: flex;
    margin-top: 130px;



}

.hot-deal-section-container>h2 {

    color: #272727;

    font-size: 40px;

    font-weight: 800;
    margin-bottom: 40px;

}

.hot-deal-section-container>p {
    color: rgba(39, 39, 39, 0.60);


    font-size: 18px;

    font-weight: 400;
    margin-bottom: 50px;


}

/* hot deal section end */


/* instagram section start */
.instagram-section>h1 {
    color: #272727;
    text-align: center;

    font-size: 40px;

    font-weight: 800;
    margin: 130px 0px 24px 0px;



}

.instagram-section>p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;

    font-size: 18px;

    font-weight: 400;
    margin-bottom: 50px;

}

.instagram-section-container {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.instagram-section-container div {
    width: 340px;
    height: 400px;


}

.insta-sec1 {
    background-image: url("Flower Asset/rose3.png");
}

.insta-sec2 {
    background-image: url("Flower Asset/flower1.png");
}

.insta-sec3 {
    background-image: url("Flower Asset/flower2.png");
}

.insta-sec4 {
    background-image: url("Flower Asset/rose.png");
}

/* instagram section end */

/* latest-deal-section start */

.latest-deal-section {
    max-width: 1440px;
    height: 450px;
    background-image: url("Flower Asset/Rectangle.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 130px auto;
    padding: 120px;
    text-align: center;
    box-sizing: border-box;


}

.latest-deal-section>h2 {
    color: #272727;
    text-align: center;

    font-size: 40px;

    font-weight: 800;
    margin-bottom: 20px;

}

.latest-deal-section h6 {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;

    font-size: 18px;

    font-weight: 400;
    margin-bottom: 50px;

}

input {
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 64px;
}